@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
  
  font-family: "Inter", sans-serif;
}
.btn {
  /* We need this to position
      span inside button */
  position: relative;
  overflow: hidden;
}
.btn span {
  position: absolute;
  border-radius: 50%;
  /* To make it round */
  background-color: rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 100px;
  margin-top: -50px;
  /* for positioning */
  margin-left: -50px;
  animation: ripple 1s;
  opacity: 0;
}

/* Add animation */
@keyframes ripple {
  from {
      opacity: 1;
      transform: scale(0);
  }

  to {
      opacity: 0;
      transform: scale(10);
  }
}